@import "../../styles/mixins";

.LandingPage {
  background-color: #222;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: "Roboto", "Helvetica", "Arial", sans-serif;

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 13px;
    margin-bottom: 0px;
    font-size: 1.8rem;
  }

  h2 {
    font-weight: lighter;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 0.8rem;
  }

  .logo {
    @include centre;
  }

  .footer {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 5px;
    height: 3rem;
  }
}
